.map-container{
    margin: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    width: 100%;
    height: 700px;
    background-color: green;
    border-radius: 20px;
}

nav{
    box-shadow: 2px 2px 10px black;
}

.profile-picture{
    width: 40px; 
    height: 40px;
    border: 1px solid green; 
    border-radius: 100%;
}

.first-section{
    display: flex;
}

.between-section{
    text-align: center;
    color: #001f00;
    margin: 100px;
}

.second-section{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-signup-btns{
    display: flex;
    gap: 5px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #001f00;
}

.students-image{
    width: 50%;
}

.students-image > img{
    width: 100%;
    height: 100%;
}

hr{
    width: 100%;
    height: 10px;
    font-weight: bold;
}

.find-colledge  a{
    text-decoration: none;
    color: white;
}

.between-section  a{
    text-decoration: none;
    color: #001f00;
}

.find-colledge > h3{
    font-weight: 400;
}

.find-colledge{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0,106,44);
    background: radial-gradient(circle, rgba(0,106,44,1) 15%, rgba(2,83,29,1) 61%, rgba(0,42,29,1) 100%);
    color: white;
    padding: 100px 250px;
    text-align: center;
}