.map-container{
    margin: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    width: 100%;
    height: 700px;
    background-color: green;
    border-radius: 20px;
}

nav{
    box-shadow: 2px 2px 10px black;
}

.profile-picture{
    width: 40px; 
    height: 40px;
    border: 2px solid green; 
    border-radius: 100%;
}

.first-section{
    display: flex;
}

.between-section{
    text-align: center;
    color: #001f00;
    margin: 100px;
}

.second-section{
    display: flex;
    margin-top: 100px;
}

.login-signup-btns{
    display: flex;
    gap: 5px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #001f00;
}

.students-image{
    width: 50%;
}

.students-image > img{
    width: 100%;
    height: 100%;
}

hr{
    width: 100%;
    height: 10px;
    font-weight: bold;
}

.find-colledge  a{
    text-decoration: none;
    color: white;
}

.between-section  a{
    text-decoration: none;
    color: #001f00;
}

.find-colledge > h3{
    font-weight: 400;
}

.find-colledge{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0,106,44);
    background: radial-gradient(circle, rgba(0,106,44,1) 15%, rgba(2,83,29,1) 61%, rgba(0,42,29,1) 100%);
    color: white;
    padding: 100px 250px;
    text-align: center;
}

.general-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.college-image img{
    width: 1200px;
    height: 500px;
    box-shadow: 0px 1px 20px rgb(66, 66, 66);
    border-radius: 20px 20px 0px 0px;
}

.college-info{
    display: flex;
    flex-direction: column;
    color: #004e00;
    background-color: white;
    width: 1200px;
    padding: 5px 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 1px 20px rgb(66, 66, 66);
}

.college-info h4 {
    color: #007500;
}

.website-description-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.college-grades {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin-top: 40px;
    box-shadow: 0px 1px 20px rgb(66, 66, 66);
}

.grade-a{
    background-color: #00aa00;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.grade-b{
    background-color: #2c788b;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.grade-c{
    background-color: #dbcf21;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.grade-d{
    background-color: #da8d1b;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.grade-f{
    background-color: #e24c06;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.grade{
    display: flex;
    gap: 20px;
}

.college-website {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin-top: 40px;
    box-shadow: 0px 1px 20px rgb(66, 66, 66);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    padding-top: 40px;
}

.college-website a {
    text-decoration: none;
}

.colleges-scroll {
    position: absolute;
    top: 100px;
    right: 100px;
    display: flex;
    background-color: white;
    height: 700px;
    width: 1200px;
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 20px;
    padding-top: 200px;
    box-shadow: 0px 1px 10px rgb(66, 66, 66);
}

.college { 
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgb(66, 66, 66);
    width: 1100px;
    height: 200px;
    color: #007500;
    justify-content: space-between;
}

.college-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.college h1{
    color: #004e00;
}

.small-image {
    width: 300px;
    height: 200px;
    border-radius: 0px 20px 20px 0px;
}

.filters {
    position: absolute;
    top: 100px;
    left: 100px;
    display: flex;
    background-color: white;
    height: 700px;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 1px 10px rgb(66, 66, 66);
}

.country-filter {
    display: flex;
    flex-direction: column;
}