{% extends 'base.html.twig' %}

{% block title %}Hello SchoolController!
{% endblock %}

{% block body %}
	<div class="container">
		{% for school in schools %}
            <div>{{ school.name }}</div>
        {% endfor %}
	</div>
{% endblock %}
